:root {
    --light-grey: #eee;
    --place-holder: #c3c3c3;
    --primary-color: #2196f3;

    --container-sm-width: 500px;
    --container-md-width: 800px;
    --container-lg-width: 1200px;

    --default-spacing: 20px;
    --sm-spacing: calc(var(--default-spacing)/2);
    --xs-spacing: calc(var(--sm-spacing)/2);
    --lg-spacing: calc(var(--default-spacing)*2);

    --default-border-radius: 5px;
    /* Min-height considered for mobile confortable clicks */
    --min-clickable-height: 32px;

    --default-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .4);
}

body {
    background-color: var(--light-grey);
    font-family: sans-serif;
    font-size: 14px;
}

#cart-list-container, 
#form-container {
    width: 48%;
    margin-right: 1%; 
    height: 100%;
    display: inline-block;
}

input:focus, 
select:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

.place-holder {
    color: var(--place-holder);
    background-color: rgba(125, 125, 125, 0.3);
} 

/* Remember! Mobile First */
.container {
    margin: auto;
    max-width: var(--container-sm-width);
    min-height: 200px;
    position: relative;
    width: 100%;
}

.form-container {
    background-color: #fff;
    border-radius: var(--default-border-radius);
    box-shadow: var(--default-box-shadow);
    margin: auto;
    max-width: 100%;
    padding: calc(var(--lg-spacing)*3) var(--default-spacing)  calc(var(--default-spacing)) var(--default-spacing);
    position: relative;
}

.input-group:not(:last-child) {
    margin: 0 0 var(--sm-spacing) 0;
}

.input-group label {
    display: block;
}

.input-group input,
.input-group select,
.btn {
    border-radius: var(--default-border-radius);
    border: 1px solid #a3a3a3;
    box-sizing: border-box;
    font-size: 1.1rem;
    min-height: var(--min-clickable-height);
    padding: 0 var(--sm-spacing);
}

.input-group input:focus,
.input-group select:focus {
    box-shadow: 0px 0px 5px 0px var(--primary-color);
}

.input--block {
    box-sizing: border-box;
    width: 100%;
}

.input-group--inline {
    display: inline-block;
}

.form__exp-date {
    width: 50%;
}

.form__exp-date select {
    width: 49%;
    background-color: #fff;
}

.form__security-number {
    float: right;
}

.btn {
    border: none;
    text-transform: uppercase;
}

.btn--confirm {
    background-color: var(--primary-color);
    color: #fff;
}

.btn--block {
    display: block;
    width: 100%;
}

/* place holders */
p {
    margin: 0;
}

.card__seal,
.card__flag {
    background-color: #fff;
    height: 30px;
    width: 50px;
}

.card {
    border-radius: var(--default-border-radius);
    box-shadow: var(--default-box-shadow);
    height: 220px;
    margin: auto;
    position: relative;
    top: calc(var(--lg-spacing)*2);
    transform-style: preserve-3d;
    transition: transform .8s;
    width: 350px;
    z-index: 2;
}

.card--overlay {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: rgba(255,255,255, .4); */
    box-shadow: var(--default-box-shadow);
    z-index: 8;
    /* display: none; */
}

.card--focus {
    border-radius: var(--default-border-radius);
    border: #fff solid 1px;
    box-shadow: var(--default-box-shadow);
    box-sizing: border-box;
    display: none;
    height: 1px;
    left: 0;
    padding: 3px;
    position: absolute;
    top: 0;
    transition: all .3s ease-in;
    width: 1px;
    z-index: 9;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.card,
.card-header,
.card-footer,
.card__front,
.card__back,
.card__data {
    display: flex;
}

.card-header,
.card-footer {
    flex-grow: 1;
    justify-content: space-between;
    width: 100%;
}

.card-header {
    align-self: flex-start;
}

.card-footer,
.card__data {
    align-self: flex-end;
}

.card__front,
.card__back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: -webkit-linear-gradient(to right, #4389A2, #5C258D);
    background: #5C258D;
    background: linear-gradient(to right, #4389A2, #5C258D);
    border-radius: inherit;
    box-sizing: border-box;
    color: #fff;
    flex-direction: column;
    height: 100%;
    margin-bottom: var(--sm-spacing);
    padding: var(--default-spacing);
    position: absolute;
    width: 100%;
}

.card__back {
    transform: rotateY(180deg);
}

.card__back .card-footer {
    align-items: center;
    justify-content: flex-end;
}

.card__number {
    padding: var(--sm-spacing);
}

.card__data {
    flex-direction: column;
}

.card__label {
    font-size: .75rem;
    margin: .2rem 0;
}


.card__data.card__security {
    width: 100%;
}

.card__swipe {
    background-color: #000;
    left: 0;
    min-height: var(--min-clickable-height);
    position: absolute;
    top: var(--default-spacing);
    width: 100%;
}

.card__security__number {
    background-color: #fff;
    border-radius: var(--default-border-radius);
    box-sizing: border-box;
    color: #333;
    min-height: var(--min-clickable-height);
    padding: var(--sm-spacing);
}

.card__security .card__security__number,
.card__security .card__label {
    text-align: right;
}


@media screen and (min-width: 576px) {
    .container {
        max-width: var(--container-md-width);
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: var(--container-lg-width);
    }
}