
.form__exp-date {
    width: 50%;
}

.form__exp-date select {
    width: 49%;
    background-color: #fff;
}

.form__security-number {
    float: right;
}

.form-container {
    padding-top: calc(var(--lg-spacing)*3);
}